/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.fa-check-circle{
    color: #5243C2;
}

.white{
    color: #fff;
}
p{
    color: #6C6C6C;
}

.content-bold{
    font-weight: 600;
}